body {
    background-color: rgb(20, 20, 20);
    color: white;
    min-width: 800px;
    font-family: 'Reggae One', cursive;
}

.task__box {
    padding: 20px;
    margin: 20px auto;
    width: 700px;
    border: 1px solid indigo;
    position: relative;
}

.task__second__box {
    height: 200px;
    width: 660px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}

.box {
    border: 2px solid darkred;
    background-color: darkgreen;
    padding: 30px;
}

.task__numeration-1, .task__numeration-2 {
    color: white;
    font-size: 25px;
    background-color: rgb(20, 20, 20);
    width: 50px;
    text-align: center;
    position: absolute;
}

.task__numeration-1 {
    top: -12px;
}

.task__numeration-2 {
    width: 60px;
    top: -12px;
}

.task-1 {
    justify-content: center;
    align-items: center;
}

.task-2 {
    justify-content: center;
    align-items: center;
}

.t2__content {
    margin: 0px 5px 0px 5px
}

.task-3 {
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.t3__content {
    padding: 12px;
}

.task-4 {
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.t4__content {
    padding: 12px;
}

.task-5 {
    height: 600px;
    justify-content: center;
    align-items: center;
}

.t5__content {
    padding: 50px;
}

.task-6 {
    height: 600px;
    justify-content: space-between;
}

.t6__content-1, .t6__content-2, .t6__content-3 {
    padding: 50px;
}

.t6__content-1 {
    align-self: flex-start;
}

.t6__content-2 {
    align-self: center;
}

.t6__content-3 {
    align-self: flex-end;
}

.task-7 {
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t7__content {
    padding: 50px;
}

.task-8 {
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.t8__content {
    padding: 50px;
}

.task-9 {
    height: auto;
    flex-direction: column;
}

.t9__content-a, .t9__content-b {
    padding: 30px;
}

.t9__content-a {
    align-self: start;
}

.t9__content-b {
    align-self: center;
}

.task-10 {
    height: auto;
    justify-content: space-evenly;
}

.t10__content-b {
    background-color: mediumvioletred;
    border: none;
    font-size: 40px;
    color: rgb(155, 0, 105);
}

.t10__content-a {
    background-color: rgb(41, 171, 226);
    border: none;
    font-size: 40px;
    color: rgb(0, 116, 190);
}

.b2 {
    order: -1;
}

.a3 {
    order: 1;
}

.a1 {
    order: 2;
}

.b3 {
    order: 3;
}

.a4 {
    order: 4;
}

.a5 {
    order: 5;
}

.t11__header{
    width: auto;
    height: 100px;
    background-color: rgb(114, 23, 0);
}

.t11__header__container {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
    align-items: center;
}

.t11__header__logo {
    width: 200px;
    height: 100px;
}

.t11__header__links {
    width: 300px;
    height: 25px;
    display: flex;
    justify-content:space-between;
    margin: 0px 25px;
}

.link a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .t11__header{
        height: auto;
    }
    
    .t11__header__container{
        flex-direction: column;
    }

}

.t12__container{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.t12__info__box{
    width: 240px;
    padding: 0px 20px;
}

.t12__image{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0px auto;
}

.t12__text{
    text-align: justify;
    font-size: 12px;
}

.t12__text h1{
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}

.t13__container{
    display: flex;
    flex-direction: column;
}

.t13__image{
    width: 100px;
    height: 100px;
    background-color: black;
}

.t13__info__box-1, .t13__info__box-2{
    margin: 10px 0px;
}

.t13__info__box-1 .t13__image{
    float: left;
    margin-right: 20px;
}

.t13__info__box-2 .t13__image{
    float: right;
    margin-left: 20px;
}

.t13__text{
    text-align: justify;
    font-size: 12px;
}

.t13__text h1{
    text-align: left;
    font-size: 20px;
    padding: 10px 0px;
}

.t14__box{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t14__content{
    width: 690px;
    display: flex;
    flex-wrap: wrap;
}

.t14__media{
    width: 220px;
    height: auto;
    background-color: white;
    border: 4px solid white;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin: 5px 5px;
    position: relative;
}

.t14__img{
    text-align: center;
    height: 100px;
    margin-top: 10px;
}

.t14__text h1{  
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}

.t14__text{
    margin: 0px 5px;
    margin-bottom: 50px;
}

.t14__button{
    margin: 10px 15%;
    width: 150px;
    height: 30px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;

}

 .t14__button a{
    color: white;
    text-decoration: none;
}
/*
.t14__button a:visited{
    color: grey;
}

.t14__button a:hover{
    color: white;
}
*/
.t14__button a:active{
    color: black;
}

.VK:hover{
    background-color: #587da3 ;
    color: white;
}

.VK:hover .t14__button{
    background-color: white;}

.VK:hover .t14__button a{
    color: #587da3;
}

.VK:hover svg path{
    fill: white;
}

.Reddit:hover{
    background-color: #FF5700 ;
    color: white;
}

.Reddit:hover .t14__button{
    background-color: white;
}

.Reddit:hover .t14__button a{
    color: #FF5700;
}

.Reddit:hover svg path{
    fill: white;
}

.Youtube:hover{
    background-color:  #FF0000;
    color: white;
}

.Youtube:hover .t14__button{
    background-color: white;
}

.Youtube:hover .t14__button a{
    color: #FF0000;
}

.Youtube:hover svg path{
    fill: white;
}

.Twitter:hover{
    background-color: #1DA1F2 ;
    color: white;
}

.Twitter:hover .t14__button{
    background-color: white;}

.Twitter:hover .t14__button a{
    color: #1DA1F2 ;
}

.Twitter:hover svg path{
    fill: white;
}

.Facebook:hover{
    background-color: #4267B2 ;
    color: white;

}
.Facebook:hover .t14__button{
    background-color: white;}

.Facebook:hover .t14__button a{
    color: #4267B2 ;
}

.Facebook:hover svg path{
    fill: white;
}

.Instagram:hover{
    background-color:  #C13584 ;
    color: white;
}

.Instagram:hover .t14__button{
    background-color: white;}

.Instagram:hover .t14__button a{
    color: #C13584 ;
}

.Instagram:hover svg path{
    fill: white;
}