@media screen and (max-width: 599px){
    body {
        background-color: black;
        font-family: "Roboto";
        font-weight: 400;
        color: white;
        min-width: 375px;
    }

    .header {
        border-bottom: 1px solid #D4D4D4;
        width: auto;
    }
    
    .header__box {
        width: 85.6%;
        height: 86px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu {
        display: flex;
        align-items: center;
    }

    .rectangle__menu {
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rectangle {
        height: 2px;
        width: 18px;
        background-color: white;
        border-radius: 40px;
    }

    .menu__about,.menu__actors,.menu__news{
        display: none;
    }

    /*--------------------------------------------------------------------------*/

    .content {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .content__box {
        display: flex;
        width: 321px;
        margin: 0px auto;
        flex-direction: column;
        align-items: center;
    }

    .content__poster img{
        width: 100%;
        height: 100%;
        object-fit: contain; 
        text-align: center;
        /* margin-bottom: 28px; */
    }

    .content__info {
        width: 321px;
    }

    .info__header {
        width: fit-content;
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 12px;
        line-height: 42.19px;
    }

    .info__subheader {
        display: flex;
        width: fit-content;
        margin-bottom: 33px;
        font-size: 18px;
        line-height: 21.09px;
    }

    .subheader__english {
        width: fit-content;
        color: #A5A5A5;
        margin-right: 19px;
    }
    .subheader__age {
        width: fit-content;
        color: #363636;
    }

    .info__text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 32px;
    }
    .info__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box-1__content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .box-2__content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info__line {
        display: flex;
        font-size: 16px;
        margin-bottom: 16px;
    }
    .title__box {
        width: 100px;
        margin-right: 10px;
        font-weight: 700;
    }
    .name__box {
        width: fit-content;
        color: #B7B7B7;
    }
    .info__box-2 {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
    .box-2__rating {
        display: flex;
        align-items: center;
        width: 229px;
    }

    .rating__box {
        display: flex;
        height: 100px;
        width: 100px;
        border: 2px solid #7DBACD;
        border-radius: 10px;
        color: #7DBACD;
        font-weight: 700;
        font-size: 28px;
        line-height: 32.81px;
        align-items: center;
        justify-content: center;
        margin-right: 34px;
    }
    .rating__text {
        width: 95px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21.09px;
    }
    /* .box-2__trailer {
        margin-left: 59px;
        display: flex;
        align-items: center;
    } */

    .trailer__text {
        color: #7DBACD;
        text-decoration: none;
        font-size: 16px;
        line-height: 18.75px;
        margin-left: 14px;
    }

    .default__trailer{
        display: none;
    }

    .hidden__trailer{
        display: flex;
        align-items: center;
        margin-bottom: 58px;
        margin-top: 28px;
    }

    /*--------------------------------------------------------------------------*/
    .orange__line {
        border: 1px solid #D8670D;
        box-shadow: 0px 0px 12px #D8670D;
        margin-top: 49px;
        margin-bottom: 42px;
    }
    /*--------------------------------------------------------------------------*/

    .people__list {
        display: flex;
        width: 321px;
        margin: 0px auto;
        flex-direction: column;
    }
    .people__select {
        display: flex;
        margin-bottom: 45px;
        font-size: 24px;
    }
    .people__select a {
        text-decoration: none;
    }
    .select__actors {
        font-weight: 900;
        color: white;
    }
    .select__creators {
        margin-left: 30px;
        color: #A5A5A5;
    }

    .list__actors{
        display: flex;
        flex-wrap: wrap;
    }

    .list__actors-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .list__actors-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 55px;
    }
    .actor {
        width: 235px;
        height: 60px;
        display: flex;
        margin-bottom: 20px;
    }

    .actor__picture img{
        height: 60px;
        width: 60px;
    }
    .actor__name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 21px;
    }
    .name__ru {
        margin-bottom: 6px;
        font-weight: 700;
        color: #7DBACD;
        font-size: 16px;
    }
    .name__en {
        font-size: 16px;
        color: #A5A5A5;
    }

    /*--------------------------------------------------------------------------*/
    .news {
        background-color: #f3f3f3;
        color: black;
    }
    .news__content {
        width: 321px;
        margin: 0px auto;
    }
    .news__header {
        padding-bottom: 65px;
        padding-top: 70px;
        font-size: 24px;
        font-weight: 900;
    }
    .news__line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 60px;
    }
    .news__box {
        display: flex;
    }
    .news__box__content {
        background-color: white;
        border-radius: 5px;
        /* height: 160px; */
        width: 260px;
        padding: 30px;
    }
    .news__date {
        font-size: 14px;
        margin-bottom: 14px;
    }
    .news__text {
        font-size: 14px;
        font-weight: 900;
    }

    /* .news__hidden-2,.news__hidden-3{
        display: none;
    } */

    /* .news__arrow.hidden{
        display: flex;
        align-items: center;
    } */

    .footer {
        background-color: black;
        color: white;
        width: auto;
    }
    .footer__content {
        width: 80%;
        height: 94px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
}